 *{
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

 body{
   background-color: #d1cc9b
 }

 @import url('https://fonts.googleapis.com/css2?family=Cinzel&display=swap');

 @media(max-width: 90rem){

      .navbar-collapse{
      display: flex;
      flex-direction: column;
     }
     .font_title_navbar{
      font-size:  65% !important;
   }
     
  }

 a{
   text-decoration: none;
   color: #fafafa;
 }

  /* home */

    /* nav */

 .font_title_navbar{
    font-family: 'Cinzel', serif;
    font-size:  100%;
    align-self: center;
    justify-self: center;
 }

 .navbar-collapse{
   display: flex;
   justify-content: space-between;
   flex-direction: row;
   margin-left: 2.5%;
 }

 .nav_content{
    font-family: 'Cinzel', serif;
    width: 90%;
    margin: 0 auto;
    display: flex;
    font-size: 200%;
 }

 .margin_item{
   margin-left: 10%;
 }

 .svg_a1{
    width: 2.5rem;
    align-self: center;
 }

 .svg_a2{
    width: 3rem; 
    align-self: center;
 }

 .svg_sacola{
    width: fit-content;
    height: fit-content;
    align-self: center;
 }
 
 .svg_user{
    width: fit-content;
    height: fit-content;
    align-self: center;
 }

 /* content */

 .main_content{
    height: 100vh;
 }

 .row{
   height: 100%;
 }

 .img_content{
    background-image: url(img/home1.png);
    background-size: cover;
 }

 .text_content{
  background-color: #2b7d6c;
  text-align: left;
  color: #fafafa;
  padding-left: 6.5%;
  padding-top: 4%;
 }

 .text_content h1{
    font-size: 500%;
 }

 .text_content h2{
    font-size: 300%;
 }

 .buton1{
    margin-top: 7.5%;
    padding: 2% 15%;
    border-radius: 5rem;
    font-size: 3rem;
    color: #fafafa;
 }

 /* products*/

 .cards_products{
   display: flex;
   justify-content: center;
   margin-top: 7.5%;
   flex-wrap: wrap;
   gap: 8rem;
   padding-bottom: 3rem;
 }

 .card{
   background-color: #2b7d6c;
   width: 25rem;
   object-fit: contain;
   border-radius: 3rem;
   max-width: 95%;
 }

 .card-body{
   display: flex;
   flex-direction: column;
   color: #fafafa;
   justify-content: center;
   align-items: center;
   margin-top: 5%;
   margin-bottom: 5%;
   font-family:  'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   font-size: 200%;
 }

 .botao2{
   margin-top: 2.5%;
   margin-bottom: 10%;
   padding: 2% 2%;
   border-radius: 2rem;
   font-size: 1.5rem;
   font-weight: bolder;
   width: fit-content;
   max-width: 90%;
 }

  /* contact1*/

  .forms1{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 6%;
   padding-bottom: 3rem;
  }

  .form_content{
   display: flex;
   align-items: center;
   justify-content: center;
  }


  .content_form1{
   display: flex;
   flex-direction: column;
   border-radius: 2rem;
   justify-content:space-evenly;
   background-color: #004138;
   color: #fafafa;
   width: 50%;
   aspect-ratio: 3/2;
   padding: 2.5%;
   box-shadow: 10px 15px 5px black;
  }

  .input_form1{
    border-radius: 2.5rem;
    height: 4rem;
  }

  .botao3{
   align-self: flex-end;
   padding: 2% 2%;
   border-radius: 2rem;
   font-size: 1.5rem;
   font-weight: bolder;
   justify-content: center;
   align-items: center;
   text-align: center;
   width: 10rem;
   background-color: #2b7d6c;
   color: #fafafa;
  }

    /* contact2*/

  .botao_duplo{
     display: flex;
     align-items: center;
     justify-content: space-between;
  }

      /* Home 2*/


 .main_content2{
    height: 91.3vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
 }

 .img_content2{
    background-image: url(img/home2.png);
    background-size: cover;
 }

 .text_content2{
  background-color: #004138;
  text-align: left;
  color: #fafafa;
 }

 .text_content2 h1{
    font-size: 6rem;
 }

 .text_content2 h2{
    font-size: 4rem;
 }

 .buton1{
    margin-top: 7.5%;
    padding: 2% 15%;
    border-radius: 5rem;
    font-size: 3rem;
    color: #fafafa;
 }

 .socials{
   display: flex;
   align-items: center;
   margin-top: 15%;
   margin-left: 15%;
 }

 .socials i {
   margin: 0 1rem;
   font-size: 4rem;
   transition: all 300ms ease;
   color: #fafafa;
}